# === UNIVERSAL ===
tmdb_key.yml
.DS_Store
report_*.txt
output*/
_temp*.?*
OTHER_REPOS/
# === LOCAL ===
# Template-only ignores.
# === PYTHON ===
build/
dist/
sdist/
*.egg
*.egg-info/
site/

/SLIDE_ARTIFACTS/
/*.odp
